<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897572210441-9gp9lt5cgdb85lbjena250u6imm74ui5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897572210441-9gp9lt5cgdb85lbjena250u6imm74ui5</string>
	<key>API_KEY</key>
	<string>AIzaSyDceawh005y4028nGKokEbXPO3FGwPiQ0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>897572210441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JayfreeGorillaz.Pawk</string>
	<key>PROJECT_ID</key>
	<string>pawker-96721</string>
	<key>STORAGE_BUCKET</key>
	<string>pawker-96721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897572210441:ios:14b629ceada2a07539f5d8</string>
</dict>
</plist>